@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050035;
    color: #FEFBEA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #3586ff;
    margin-bottom: 30px;
    padding: 10px;
}

main {
    flex: 1;
}

#appTitle {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', sans-serif;
    font-size: 80px;
}

#genreForm,
#playBtn {
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Fredoka One', sans-serif;
}

#movieInfo {
    width: 65%;
    margin: 82px auto;
    display: flex;
    /* background-color: wheat; */
    justify-content: center;
}

/* #movieInfo:after {
    content:  "";
    display:  table;
    clear:  both;
} */

/* #moviePoster, #movieText {
    width:  50%;
    float:  left;
} */


img#moviePoster {
    width: 50%;
    height: 100%;
    display: block;
    margin-left: 50%;

}

#movieText {
    font-family: 'Questrial';
    color: #FEFBEA;
    line-height: 1.25;
    background-color: #8c0909;
    margin-right: 20%;
}

#movieTitle,
#movieOverview {
    padding: 32px;
}

#playBtn {
    margin-top: 20px;
    font-size: 25px;
    padding: 7px 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #FEFBEA;
    color: #050035;
    cursor: pointer;
}

label {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;
}

select {
    width: 200px;
    height: auto;
}

#likeOrDislikeBtns {
    text-align: center;
    margin: 0px auto;
}

#likeBtn,
#dislikeBtn {
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
}

#likeBtn {
    background-color: #FEFBEA;
    color: rgb(11, 74, 40);
}

#dislikeBtn {
    background-color: #FEFBEA;
    color: #8c0909;
}

h1 {
    font-family: 'Staatliches', sans-serif;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}